@mixin controlIcon($background: rgba(0, 0, 0, 0.514)) {
    width: $control-icon-size;
    height: $control-icon-size;
    cursor: pointer;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $background;
    border-radius: 50px;
}

$navigation-link-color: #fa6342;
$transition-ease: all 0.35s ease-in-out;
$control-icon-size: 40px;
$p-color: #989dbd;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

// #########################################################################
// ########################## USER PROFILE ##################################
// ##########################################################################

.user-settings {
    position: relative;

    .edit-background {
        position: absolute;
        top: 20px;
        left: 20px;

        .fileContainer {
            @include controlIcon();
            transform-origin: center;
            transform: scale(0);
            transition: $transition-ease;
        }
    }
    &:hover {
        .fileContainer {
            transform: scale(1);
            transition: $transition-ease;
        }
    }
    .user-profile {
        width: 100%;
    }

    .user-avatar {
        position: absolute;
        bottom: 20px;
        left: 20px;

        > img {
            border-radius: 50%;
            width: 160px;
            height: 160px;
            border: 3px solid #fff;
        }
        .fileContainer {
            @include controlIcon(rgba(255, 255, 255, 0.473));
            position: absolute;
            bottom: 0;
            right: 0;
            border: 1px solid rgba(0, 0, 0, 0.479);
            transform: scale(0);
            transition: $transition-ease;
        }

        &:hover {
            .fileContainer {
                transform: scale(1);
                transition: $transition-ease;
            }
        }
    }

    .profile-controls {
        position: absolute;
        bottom: 20px;
        right: 0;

        display: flex;
        background-color: rgba(255, 255, 255, 0.418);
        padding: 5px;
        padding-left: 20px;
        border-radius: 10px 0 0 10px;

        li {
            margin-right: 10px;
            list-style: none;

            .controls {
                &__add-friend {
                    @include controlIcon(#fa6342);
                    &:hover {
                        background-color: #eea473;
                    }
                }
                &__favorite {
                    @include controlIcon(#7750f8);
                    &:hover {
                        background-color: #9b7dff;
                    }
                }
                &__send-message {
                    @include controlIcon(#23d2e2);
                    &:hover {
                        background-color: #88f0fa;
                    }
                }
                &__more {
                    @include controlIcon(#857ec3);

                    &:hover {
                        background-color: #b6aff5;
                    }
                }
            }

            .more-dropdown {
                background: #fff none repeat scroll 0 0;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                color: #858aa5;
                right: 0;
                list-style: outside none none;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 100%;
                transform: scale(0);
                transform-origin: top center;
                transition: all 0.2s linear 0s;
                visibility: hidden;
                width: 150px;
                z-index: 2;
                text-align: left;

                li {
                    display: inline-block;
                    font-size: 12px;
                    width: 100%;

                    a {
                        background: #fff;
                        color: #505050;
                        font-weight: 500;
                        width: 100%;
                        display: inline-block;
                        padding: 10px;
                        transition: $transition-ease;

                        &:hover {
                            background: rgb(240, 240, 240);
                            text-decoration: none;
                            transition: $transition-ease;
                        }
                    }
                }

                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 25px;
                    position: absolute;
                    top: -10%;
                    left: 0;
                }
            }

            &:nth-child(4):hover {
                display: block;
                .more-dropdown {
                    visibility: visible;
                    transform: scale(01);
                }
            }
        }
    }
}

.user-navigation {
    width: 100%;
    background-color: #fff;

    .profile-author {
        display: inline-block;
        margin-top: 10px;
        width: 100%;
        .author-content {
            text-align: center;

            .author-name {
                color: #333;
                font-size: 20px;
                font-weight: 500;
            }
            .country {
                font-size: 12px;
            }
        }
    }

    .profile-menu {
        display: inline-block;
        line-height: 65px;
        list-style: outside none none;
        margin-bottom: 0;
        padding: 0 15px;
        width: 70%;
        padding-right: 0;

        li {
            display: inline-block;
            margin: 0 22px;
            vertical-align: middle;

            a {
                color: #515365;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                position: relative;
                text-decoration: none;
                &:hover {
                    color: $navigation-link-color;
                }
            }
            a.active {
                color: $navigation-link-color;
                &:after {
                    border-bottom: 10px solid $navigation-link-color;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    bottom: 0;
                    content: "";
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%);
                }
            }
        }
    }

    .follow-detail {
        display: inline-block;
        list-style: outside none none;
        margin: 0;
        padding-left: 0;
        vertical-align: middle;

        li {
            display: inline-block;
            margin: 0 2px;
            text-align: center;

            span {
                color: #535165;
                display: inline-block;
                font-weight: 500;
                width: 100%;
            }
            small {
                color: $navigation-link-color;
            }
        }
    }
}

.create-post {
    border-bottom: 1px solid #e6ecf5;
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    text-transform: capitalize;
    width: 100%;
    color: #515365;
    position: relative;

    &::before {
        content: "";
        height: 90%;
        left: -20px;
        position: absolute;
        top: -5px;
        width: 3px;
        background: $navigation-link-color;
    }

    a {
        display: inline-block;
        float: right;
        font-size: 11px;
        font-weight: normal;
    }
}

.side-bar {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    padding: 20px;
    position: static;

    .personal-head {
        display: inline-block;
        width: 100%;

        .f-title {
            color: #515365;
            display: flex;
            align-items: center;
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 5px;
            width: 100%;
            text-transform: capitalize;

            svg {
                margin-right: 6px;
                font-size: 0.9rem;
                fill: $navigation-link-color;
            }
        }

        p {
            font-size: 13px;
            line-height: 20px;
            margin-bottom: 20px;
            padding-left: 20px;
            color: #959ab5;
        }
    }
}

.central-meta {
    @extend .side-bar;
    margin-bottom: 20px;

    .gen-metabox {
        display: inline-block;
        margin-bottom: 25px;
        width: 100%;

        .social-media {
            display: flex;

            li {
                list-style: none;
                margin-right: 5px;
                font-size: 2rem;

                a {
                    color: $p-color;
                    &:hover {
                        color: #85c1c7;
                    }
                }
            }
        }

        .badged {
            display: inline-block;
            list-style: outside none none;
            margin: 0;
            padding: 0;
            width: 100%;

            li {
                display: inline-block;
                margin-right: 5px;
                max-width: 30px;
            }
        }

        span {
            color: #515365;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
            width: 100%;

            svg {
                margin-right: 6px;
                font-size: 16px;
                color: $navigation-link-color;
            }
        }

        p {
            font-size: 13.4px;
            line-height: 22px;
            margin-bottom: 0;
        }
    }

    .fav-play {
        img {
            margin-bottom: 10px;
        }

        .tv-play-title {
            color: $p-color;
        }
    }

    .friend-list {
        position: relative;

        .friend-item {
            background: #f2f7fb none repeat scroll 0 0;
            border: 1px solid #ede9e9;
            border-radius: 3px;
            padding-bottom: 7px;
            max-width: 95%;

            img {
                border-radius: 3px 3px 0 0;
            }
            &__details {
                display: inline-block;
                margin-top: 10px;
                text-align: center;
                width: 100%;

                a {
                    color: #515365;
                    display: inline-block;
                    font-size: 13.5px;
                    font-weight: 500;
                    width: 100%;
                    transition: all 0.2s linear 0s;
                }

                span {
                    display: inline-block;
                    font-size: 11px;
                    width: 100%;

                    a {
                        color: $navigation-link-color;
                    }
                }

                .add-remove-frnd {
                    display: inline-block;
                    list-style: outside none none;
                    margin: 5px 0 0;
                    padding: 0 10px;
                    text-align: center;
                    width: 100%;

                    li {
                        display: inline-block;
                        margin-right: 6px;

                        a {
                            border-radius: 4px;
                            color: #fff;
                            display: inline-block;
                            padding: 2px 10px;
                            transition: all 0.2s linear 0s;
                            font-size: 15px;
                            background-color: $p-color;
                        }

                        .send-mesg {
                            background: #23d2e2 none repeat scroll 0 0;
                        }
                    }
                }
            }
        }
    }

    .img-list {
        .img-item {
            overflow: hidden;
            max-width: 95%;
            border-radius: 5px;
            position: relative;

            &:after {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.473));
                border-radius: 0 0 6px 6px;
                bottom: 0;
                content: "";
                height: 45px;
                left: 0;
                opacity: 0;
                position: absolute;
                transition: all 0.2s linear 0s;
                visibility: hidden;
                width: 100%;
                z-index: 1;
            }

            img {
                transition: $transition-ease;
            }

            .over-photo {
                bottom: -10px;
                color: #fff;
                display: flex;
                justify-content: space-between;
                left: 0;
                opacity: 0;
                padding: 0 10px;
                position: absolute;
                transition: all 0.2s linear 0s;
                visibility: hidden;
                width: 100%;
                z-index: 2;

                .heart {
                    height: 20px;
                    transform: translateZ(0);
                    color: #b3b1c5;
                    font-size: 16px;
                    cursor: pointer;
                    position: relative;
                    transition: all 0.3s ease;
                    font-size: 16px;
                    vertical-align: middle;
                }

                span {
                    color: #eee;
                    float: right;
                    font-size: 11.4px;
                    margin-top: 5px;
                    letter-spacing: -0.6px;
                }
            }

            &:hover {
                img {
                    transform: scale(1.2);
                    transition: all 0.2s linear 0s;
                }

                .over-photo {
                    bottom: 10px;
                    opacity: 1;
                    visibility: visible;
                }

                &:after {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767.98px) {
    .user-settings {
        .user-avatar {
            top: 50%;
            transform: translate(-50%, 0);
            left: 50%;
        }
        .profile-controls {
            bottom: 50%;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .user-settings {
        .user-avatar {
            top: 50%;
            transform: translate(-50%, 0);
            left: 50%;
        }
        .profile-controls {
            bottom: 50%;
        }
    }
}
